.Ft-container {
    padding: 4rem 2rem 6.5rem 2rem;
    color: hsla(0, 0%, 100%, 0.7);
}

.Ft-text {
    font-weight: 600;
    font-size: 1rem;
}

.Ft-list {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(13rem, 100%), 1fr));
    gap: .8rem;
}

.Ft-link {
    width: max-content;
    text-decoration: underline;
    font-size: .9rem;
    font-weight: 500;
}

.Ft-span {
    display: block;
    padding-top: 2rem;
    font-size: .9rem;
    font-weight: 500;
}


@media screen and (max-width: 600px) {
    .Ft-container {
        padding:4rem 1rem;
    }
}